$imgWidth: 72px;
.aside-list__header {
    text-align: center;
}
.aside-list__header-inner {
   display: inline-block;
   font-size: 16px;
   height: 18px;
   line-height: 15px;
   padding: 0 2px;
   border-left: 1px solid $grey;
   border-right: 1px solid $grey;
   vertical-align: middle; 
}

.aside-list__header-inner:before,
.aside-list__header-inner:after {
    content:'';
    display:inline-block;
    width:1px;
    height: 100%;
    border-left: 1px solid $grey;
    vertical-align: middle;
}

.aside-list__header-inner:before {
    margin-right: 12px;
}

.aside-list__header-inner:after {
    margin-left: 12px;
}

.aside-list__content {
     margin-top:19px;
     visibility: hidden;
}

.aside-list__item {
    display: block;
    box-sizing:content-box;
    padding:22.5px 0;
    height: $imgWidth; 
    overflow:hidden;
}
.slick-vertical .slick-slide.aside-list__item {
    border-top:1px solid $grey2;
}

.aside-list__image {
    float:left;
    line-height: 0;
    font-size: 0;
}

.aside-list__image>img {
    width: $imgWidth;
    height: $imgWidth;
}

.aside-list__text {
    margin-left: ($imgWidth+15);
    max-height: 68px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5; 
    position: relative;
}

@media screen and (max-width: 960px) {
    .aside-list__text {
        font-size: 12px;
        margin-left: 65px;
        max-height: 54px;
    }

    .aside-list__header-inner {
        border: none;
    }

    .aside-list__header-inner:before,
    .aside-list__header-inner:after {
        display:none;
    }

    .aside-list__item {
        padding: 12.5px 0;
    }

    .aside-list__image>img {
        width: 54px;
        height: 54px;
    }
}

@media screen and (max-width:700px){

    .aside-list__content {
        margin-top: 0;
    }
    .aside-list__item {
        margin-left: 10px;
    }

    .aside-list__header-inner {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:480px){
    .aside-list__content{
        text-align: center;
    }

    .aside-list__text {
        margin-top: 9px;
    }
}

