.avatar {
   color: #1a1a1a;
   display: inline-block;
   text-align: left;
}

.avatar__photo,
.avatar__text
{
    display:inline-block;
    vertical-align: middle;
}

.avatar__photo
{
   width: 60px;
   height: 60px;
   border-radius:30px; 
}

.avatar__text
{
    margin-left: 14px;
    font-size: 13px;
    font-weight: 300;
    line-height: (18/13);
}

    