/*Colors*/
$leadGreen: #9eb208; //common light-green 
$blue: #35a6e3; //common blue, parents
$green: #81b352; //students
$pink: #f77e7e; //relations

$orange: #ff9c5e;
$orange2: #fabf8c; //download
$grey: #999999; 
/*$grey2: #e6e6e6;*/ //borders 
$grey2: #cecece;
$grey3: #333333; //login

$containerWidth: 1170px;

