.aside-banner-middle {
    width: 100%;
}
.aside-banner-middle {
    margin-top: 25px;
    margin-bottom: 13px;
    border: 1px solid $grey;
}
.aside-banner-bottom {
    margin-top: 22px;
}

img.banner {
    width: 100%;
}