.intro {
    background: $accentColor;
    color: #fff;
    padding: 21px 30px 15px;
    text-align: left;
}

.intro.green {
    background: #81b352;
}

.intro.pink {
    background: #f77e7e;
}

.intro.green {
    background: #81b352;
}

.intro.blue {
    background: $accentColor;
}

.intro>span {
    display:block;
}

.intro-category a,
.intro-likes {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}

.intro-category a:hover {
    color: #999999;
}

.intro-category {
    text-transform: uppercase;
}

.intro-header {
    margin-top:9px;
    font-size: 34px;
    line-height: (36/34); 
}

.intro-text {
    margin-top: 14px;
    font-size: 16px;
    line-height: (24/16);
}

.intro-author {
    margin-top: 19px;
    font-size: 14px;
}
/*LIKES**/
.intro-likes {
    margin-top:16px;
}

.intro-likes>i {
    margin-left: 7px;
    margin-right: 2px;
    font-size:9px;
    display:inline-block;
}

.intro-likes>i:first-child {
    margin-left:0;
}

.intro-likes-list {
    color: $linkColor;
    font-size: 9px;
    margin-top: 10px;
}


/*Redefinitions for intro in article*/
.intro-article {
    padding: 33px column-span(1,1);
    text-align: center;

    .intro-category,
    .intro-category a {
        font-size: 14px;
        font-family: open_sans;
    }

    .intro-header {
        margin-top:19px;
    }

    .intro-likes {
        margin-top: 14px;
    }

}
