.preview-main-container {
    @include grid-span(6);
}

.preview-main {
}

.preview-main>img {
    display: block;
    max-height: 420px;
}

.preview-main>.intro {
    width: 96%;
    margin: -114px auto 0;
    position: relative;
    z-index: 1;
}
